/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

.navbar-purple {
    background-color: #323754;
}

.navbar-link {
    font-size: 20px;
}

.header-text {
    text-align: center;
    font-weight: bold;
    padding-top: 75px;
    margin-bottom: 100px;
}

.header-text h1 {
    font-weight: bold;
}

.home-menus {
}

.home-background {
    color: black;
}

.competition-img {
    width: 300px;
    height: 270px;
}

.task-description {
    float: left;
    margin-right: 20px;
}

.clear {
    clear: both;
}

.task-img>img {
    width: 250px;
    height: 180px;
}

.up-bar {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 40px;
    background-color: #2D3649;
    padding-top: 10px;
    clear: both;
}

.task-name {
    display: inline-block;
    margin-left: 15px;
    color: white;
    float: left;
}

.task-points {
    display: inline-block;
    margin-right: 15px;
    color: #F2BB13;
    float: right;
}

.task-points>img {
    width: 20px;
    height: 20px;
}

.table-problems {
    border: 0px !important;
}

.white-link {
    color: white !important;
}

.white-link:hover {
    color: yellowgreen !important;
}

.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.page-list {
    color: black !important;
    float: left !important;
    padding: 8px 16px !important;
    text-decoration: none !important;
    transition: background-color .3s !important;
    cursor: pointer;
}

.page-current {
    background-color: #4CAF50 !important;
    color: white !important;
}

.page-list:hover {
    background-color: #ddd;
}

.tasks-page {
    margin-bottom: 25px !important;
}

.textbox-problem {
    resize: none;
    height: 500px !important;
}

.float-left {
    float: left;
}

.float-right {
    float:right;
}

.problem-title {
    font-weight: bold;
}

.page-up {
    margin-top: 50px;
}

.download {
    margin-bottom: -35px;
}

.page-middle {
    margin-bottom: 100px;
}

.choose-laungage {
    margin-right: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}
